<footer style="margin: 0; padding: 10px; background-color: hsl(216, 18%, 16%); color: white; width: 100%; position: relative; margin-top: auto;">
    <hr style="border-color: white;">
    <!-- Made with &#10084; by Ishu Andani. -->
    <div class="f-info">
        <div class="f-info-links">
            &copy; Wanderlust Private Limited
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="/details">Comapny details</a>
        </div>
        <div class="f-info-socials">
            <a class="f-info-socials-links" href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a class="f-info-socials-links" href="/twitter"><i class="fa-brands fa-twitter"></i></a>
            <a class="f-info-socials-links" href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
</footer>