<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/listings">
        <i class="fa-regular fa-compass"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="http://localhost:3000/listings">All Listings</a>
            <a class="nav-item nav-link" href="http://localhost:3000/listings/new">Add Listing</a>
        </div>
        <% if (user) { %>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="http://localhost:3000/users/logout">Logout</a>
            </div>
        <% } %>
        <% if (!user) { %>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="http://localhost:3000/users">Login/SignUp</a>
            </div>
        <% } %>
        
    </div>
</nav>