<% layout('layouts/boilerplate') -%>
<div id="editBody">
  <h1 id="page-title">New Listing</h1>
  <form action="http://localhost:3000/listings" method="post" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-3 mb-2 offset-2">
        <label class="form-label" for="title">Title:</label>
        <input type="text" name="listing[title]" class="form-control" id="title" placeholder="Title" required>
        <div class="invalid-feedback">
          Please enter Title of your Listing.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label" for="price">Price:</label>
        <input type="number" class="form-control" name="listing[price]" id="price" placeholder="price" min="0" required>
        <div class="invalid-feedback">
          Please enter price for your listing.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-label" for="country">Country:</label>
        <select name="listing[country]" id="country" class="form-control" required>
          <option disabled selected value> -- select an option -- </option>
          <%- include("../includes/countries.ejs") %>
        </select>
        <div class="invalid-feedback">
          Please provide a valid country.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-4 offset-2">
        <label class="form-label" for="image">Image URL:</label>
          <input type="hidden" name="listing[image.filename]" value="listingimage">
          <input type="url" class="form-control" name="listing[image.url]" id="image" placeholder="image url">
      </div>
      
      <div class="col-md-3 mb-3">
        <label class="form-label" for="location">Location:</label>
        <input type="text" class="form-control" name="listing[location]" id="location" placeholder="location" required>
        <div class="invalid-feedback">
          Please provide a valid location.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3 offset-2">
        <label class="form-label" for="description">Description:</label>
        <textarea type="text" name="listing[description]" class="form-control" id="description" placeholder="Description" required style="height: 150px;"></textarea>
        <div class="invalid-feedback">
          Please enter description for your Listing.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button style="height: 40px; margin: 20px;" type="submit" class="btn btn-success">Add Listing</button>
      <button style="height: 40px; margin: 20px;" type="button"  class="btn btn-secondary" onclick="goBack()">Cancel</button>
    </div>
  </form>
</div>

